<section id="volunteer-profile" class="volunteer-profile">

<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img class="bd-placeholder-img rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnyZ7G4514uYYi8996UgvMTs-V4R3cnNKi_NsoB22QnI4bZPLu&usqp=CAU" width="140" height="140"/>

        <h2 class="pricing-header">{{volFullName}}</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">{{volNum}}</li>
          <li class="pricing-features-item">{{volEmail}}</li>
        </ul>
        <!--We should add a ref to vol's skills -->
        <a href="#/" class="pricing-button">Volunteer Skills</a>
      </div>
                  
    </div>
  </div>
</div>
</section>