

<section id="our-team" class="our-team">
  <div class="row"> 
    <div class="container marketing" >      
        <img class="bd-placeholder-img rounded-circle" src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/s960x960/65859006_10219923374543361_1975421339657306112_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_ohc=b65gRArb0_4AX8HxtAc&_nc_ht=scontent.fsdv4-1.fna&_nc_tp=7&oh=4cf66822d5a7b40daada838b53698254&oe=5F109822" width="140" height="140"/>
        <h2>Snir Sharristh</h2>
        <p>Mentor in Hakatom#3</p>
        <p>Tech Lead at MadeInJLM</p>
        <p>iOS development in 200APPS</p>
        <p><a class="btn btn-secondary" href="https://www.facebook.com/snir.sharristh" role="button">View details &raquo;</a></p>
    </div>
          
  </div>
</section>
