
    <!-- ======= Our-Team Section ======= -->
    <section id="Our-Team" class="Our-Team">
      <div class="container">
        <div class="row content">
          <div class="col-lg-6">
            <h2>Our Team</h2>
          </div>
          <div class="col-lg-6">
            <p>
              Snir Sharristh, Tzila Hamer, Daniel, Moshiko, Anaelle Ochayun, Efrat Kugman, Simcha Ben-David, Avital Parasha, Hodaya Posen,
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
