    <!-- ======= Contact-Us Section ======= -->
    <section id="contact" class="contact-info">
      <div class="container">
        <div class="row content">
          <div class="col-lg-6">
            <H2>
              Contact Us!
            </H2>
            <div class="contact-info mr-auto">
              <i class="icofont-envelope"></i>
              <a href="mailto:contact@example.com">contact@example.com</a>
              <i class="icofont-phone phone-icon"></i> +972 566 7632
            </div> 
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
